/*  布局 */
.container {
    background-color: #eee;
    border: 1px solid black;
    overflow: hidden;
    padding: 20px;
}
.layout_aside_main, .layout_aside {
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}
.layout_aside_left {
    width: 200px;
    float: left;
}
.layout_aside_right {
    width: 120px;
    float: right;
}
.layout_aside_main {
    margin: 0 140px 0 220px;
}
/* 里面的设置 */
.aside_left_des {
    padding: 20px;
}
.aside_left_des img {
    float: left;
}
.aside_left_des h3 {
    margin-top: 0;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    vertical-align: top;
}
.aside_main {
    padding: 20px;
}
.aside_main p {
    display: block;
    -webkit-margin-after: 2em;
    -webkit-margin-before: 2em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-indent: 2em;
    line-height: 1.5em;

}
.aside_right {
    padding: 20px;
}
.aside_right img{
    width: 80px;
    height: 80px;
}