/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

/* nav 背景 标签更改颜色 */
.navbar-inverse{
    background-color: #0593d3;
    font-size: 20px;
    border: 1px solid #0593d3;
}
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}
#example-navbar-collapse a {
    color: black;
}

#example-navbar-collapse a:hover {
    color: white;
}
.jstitle {
    font-size: 20px;
}
/* carousel-caption 轮播下面的字 */
.carousel-caption h3, p{
    font-weight: bold;
}
/*  页面左边 blog-post */
.blog-post {
    /*background-color: #eee;*/
}
.blog-post h3 {
    font-weight: bold;
    color: #4d4d4d;
    padding-bottom: 10px;
}
.blog-post p{
    font: 18px "宋体", Arial, Helvetica, sans-serif;
    background-color: #eee;
    line-height: 26px;
    padding: 20px 0;

}
.blog-post a {
    width: 50px;
    padding: 7px 15px;
    background-color: #fd8a61;
    font-size: 14px;
    color: white;

    border-radius: 5px;
    text-align: right;

}
.blog-post a:hover {
    text-decoration: none;
    background-color: #2a6496;
}

/*sidebar 页面左边导航
 ----------------------------------*/
#sidebar {
    font-family: Microsoft YaHei;
    font-weight: bold;
    font-size: 15px;
}
#sidebar .list-group a:hover {
    color: white;
    background-color: #0593d3;
    opacity: 0.7;
}
/* gotoTop 回到顶部按钮 */
#gotoTop {
    position: fixed;
    opacity: .5;
    bottom: 10%;
    right: 0;
    cursor: pointer;
    margin-top: -50px;
    width: 100px;
    height: 48px;
}
#gotoTop:hover {
    opacity: 1;
}
#gotoTop .menu-up {
    font-size: 40px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #ccc;
}
#gotoTop .menu-up:before {
    content: "Top";
}
/* footer p的选择器重新写*/
footer {
    /*padding: 30px 0;*/
    margin-top: 50px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    height: 80px;
    background-color: #f9f9f9;
    text-align: center;
}
.footer-main {
    margin-top: 30px;
}
