/* nav 背景 标签更改颜色 */
.navbar-inverse{
    background-color: #0593d3;
    font-size: 20px;
    border: 1px solid #0593d3;
}
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}
#example-navbar-collapse a {
    color: black;
}

#example-navbar-collapse a:hover {
    color: white;
}
.jstitle {
    font-size: 20px;
}
/* carousel-caption 轮播下面的字 */
.carousel-caption h3, p{
    font-weight: bold;
}
/* footer p的选择器重新写*/
footer {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}
footer div {
    padding-bottom: 30px;
}
footer hr {
    border: 1px solid #eee;
}
footer p{
    color: #777;
    margin-bottom: 0;
}
footer p:last-child {
    color: #0088cc;
    margin-top: 10px;
    word-spacing: 10px;
}