.main {
     width: 800px;
     margin: 20px auto;
     font-size:  20px;
 }
span {
    display: inline-block;
    font-size: 30px;
    text-align: center;
    padding: 0 15px;
    margin: 2px 0;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    color: #FFFFFF;
}
#left-out {
    margin-left: 40px;
}