* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #eee;
    font-size: 18px;
}
input, button {
    padding: 5px 2px;
}
button,#add {
    font-weight: bold;
}
/* 三个div 设置外边距 */
.one, .search, #list{
    padding-left: 50px;
    margin-top: 20px;
}
.one {
    overflow: auto;
    height: 100px;
}
/* one > div　宽高，布局 */
.one>div {
    float: left;
    width: 250px;
    height: 70px;
}
/* .one .msg div设置高度，内边距，字体颜色 */
.msg {
    height: 50px;
    padding: 10px 0;
    margin-left: 40px;
    color: red;
}
.search input, #search-btn {
    margin-left: 10px;
}
/* 显示区域 #list 设置底部外边距 */
#list {
    margin-bottom: 100px;
}
#list tr:first-child {
    height: 40px;
    border: 1px solid black;
    font-weight: bold;
}
#list td {
    width: 90px;
    height: 35px;
    margin: 5px 0;
    padding-right: 5px;
    text-align: center;
}

.meg p {
    width: 50px;
    height: 30px;
    border: 1px solid black;
}
.search-price{
    width: 50px;
    height: 20px;
    padding: 0;
    text-align: center;
}
.search span {
    padding-left: 5px;
}
.search-price-btn {
    margin-left: 20px;
}
/* 查询价格 宽高定位 */
.price {
    display: inline-block;
    position: relative;
    left: 50px;
    width: 600px;
    height: 50px;
}
#price-msg {
    width: 200px;
    height: 50px;
}

#sort-up-btn {
    margin-left: 30px;
}