* {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    background-color: #eee;
}
/*** conatiner  ***/
.container {
    margin: 0 auto;
    width: 980px;
    height: 1386px;
    background-color: white;
}
/*** main  ***/
.main {
    position: relative;
    width: 892px;
    height: 1386px;
    margin: 0 auto;
    overflow: hidden;
}
/*** header, footer  ***/
header {
    height: 61px;
    border-bottom: 2px solid #939e8c;
}
header .title {
    float: left;
    position: relative;
    width: 110px;
    height: 61px;
    background-color: red;
}
header .title span{
    bottom: 5px;
    position: absolute;
    color: white;
}
header .time {
    float: right;
    position: relative;
    width: 50px;
    height: 61px;
}
header .time .spanTime {
    width: 20px;
    bottom: 5px;
    position: absolute;

}
/** article margin **/
.one, .two, .three{
    margin-top: 35px;
}
/* article one */
.one {
    height: 301px;
}
.one-left{
    float: left;
    position: relative;
}
.one-left-size {
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: green;
}
.one-right{
    float: right;
    width: 203px;
    height: 301px;
    position: relative;
    border-top: 2px solid #cc8091;
}
.one-right-text {
    text-decoration: underline;
    font: 24px 微软雅黑;
    color: #000000;
    line-height: 40px;
}
.one-right-text+p {
    font: 12px 楷体;
    color: #676767;
    line-height: 10px;
}
.seven {
    font: 116px 微软雅黑;
    text-decoration: underline;
    font-style: italic;
    color: #75b86b;
    position: absolute;
    left: 0px;
}
.one-right-css {
    font-family: 微软雅黑;
    width: 203px;
    color: #cc8091;
    position: absolute;
    bottom: 0;
    background-color: white;
}
.one-three {
    font-size: 55px;
    float: left;
}
.css-sum {
    float: right;
    height: 59px;
    position: absolute;
    bottom: 0;
    left: 80px;
}
.one-right-css .css {
    font-size: 21px;
}
.one-right-css .csses {
    font-size: 12px;
}
.one-right-size {
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    background-color: pink;
}
/* article two */
.two {
    width: 641px;
    overflow: hidden;
 }
.two-what, .two-when, .two-how {
    margin-right: 30px;
}
.two-what h1, .two-when h1, .two-how h1 {
    text-decoration: underline;
    font: 16px bold 微软雅黑;
    padding-bottom: 10px;
}
.two-what h1 {
    color: #418c59;
}
.two-when h1 {
    color: #d2994f;
}
.two-how h1 {
    color: #cc7680;
}
.two-what {
    width: 220px;
    float: left;
}
.two-when {
    width: 190px;
    float: left;

}
.two-how {
    width: 140px;
    float: right;
}
.two-how-pre {
    position: relative;
    margin-top: 18px;

}
.two-how-pre span {
    color: #cd4a48;
    font-style: italic;
    line-height: 16px;
}
.two p {
    font: 12px 微软雅黑;
    color: #231815;
    line-height: 16px;
    opacity: 0.7;
}
.two-how p {
    line-height: 20px;
}
/*** three left***/
.three-left, .three-right {
    margin: 30px 0;
}
.three-left {
    float: left;
    width: 415px;
}
.three-left-text {
    width: 415px;
    padding-bottom: 10px;
    border-bottom: 2px solid #11456b;
}
.three .the {
    font: 72px bold 黑体;
    font-style: italic;
    color: #f5e327;
}
.three .theNext1,.three .theNext2 {
    font: 42px bold 黑体;
    color: #11456b;
}
.three .theNext2 {
    line-height: 16px;
}
.three .theNext3 {
    font: 33px bold 黑体;
    color: #11456b;
}
.three-left-bottom .font {
    color: #f5e327;
    float: left;
    font: 70px 微软雅黑;
}
.three-left-bottom img {
    float: right;
    margin: 10px 0 10px 10px;
}
.three-left-bottom{
    font: 12px 宋体;
    color: #767777;
    line-height: 16px;
    padding-top: 20px;
}
.three-left-bottom p:nth-child(2) {
    text-indent: 2em;
}
.three-left-bottom p:nth-child(3) {
    text-indent: 2em;
}
/* article right */
.three-right {
    width: 458px;
}
.three-right-top {
    position: relative;
}
.three-right-background {
    width: 458px;
    height: 61px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    background-color: black;
}
.three-right-background+p {
    height: 44px;
    margin-bottom: 3.5px;
    bottom: 0;
    left: 2.5em;
    color: #ffffff;
    position: absolute;
    border-left: 3px solid #72b16a;
    font: 26px 微软雅黑;
}
.three-right-top span {
    font: 12px 微软雅黑;
    color: #72b16a;
    font-style: italic;
}
.three-right {
    float: right;
}
.three-right-bottom {
    width: 459px;
    height: 318px;
    background-color: #eee;
    margin: 30px 10px 30px 0;
    position: relative;

}
.three-right-one {
    font: 16px 宋体;
    color: #5a5b5b;
    padding: 20px 0;
}
.three-right-one p {
    padding: 10px 0;
    font: 16px 宋体;
    color: #5a5b5b;
    padding-left: 50px;
}
.three-right-one span {
    font: 12px 宋体;
    color: #5a5b5b;
    font-style: italic;
    padding: 20px 0;
    text-align: right;
}
.three-right-two {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
}
.the-one {
    float: left;
    width: 260px;
    height: 160px;
    background-color: #d45d5c;
}
.the-one .zero {
    float: left;
    font: 110px 微软雅黑;
    padding-left: 5px;
    color: #ffffff;
}
.the-one .page {
    float: right;
    height: 86px;
    position: relative;
    right: 15px;
    top: 35px;
    padding-left: 10px;
    border-left: 2px solid #ffffff;
}
.the-one .page p {
    font: 21px 黑体;
    color: #ffffff;
    font-style: italic;
    line-height: 24px;
}
.the-one .page p:last-child {
    font: 12px 黑体;
    color: #ffffff;
    font-style: italic;
    padding: 3px 0;
}
.world {
    float: right;
    width: 180px;
    height: 160px;
    font: 14px 黑体;
    font-style: italic;
    line-height: 16px;
    color: #5a5b5b;
}
.mark {
    font: 72px 黑体;
    color: #d45d5c;
    float: left;
    height: 35px;
    margin: -15px -10px -10px 0;
    position: relative;
    right: 40px;
    font-style: italic;

}
.mark-two {
    float: right;
    font: 72px 黑体;
    color: #d45d5c;
    font-style: italic;
}
/* footer */
footer {
    width: 100%;
    height: 61px;
    bottom: 0;
    margin-top: 20px;
    clear: both;
    position: absolute;
    border-top: 2px solid #939e8c;
}
footer .title {
    float: right;
}
.spanTime {
    font: 12px 黑体;
    color: #d45d5c;
}
