* {
    padding: 0px;
    margin: 0;
}
img {
    width: 260px;
    height: 200px;
}

header{
    padding-top: 20px;
}
footer {
    padding-bottom: 20px;
}
header ul, .two ul, .two figure, .three ol {
    position: relative;
    left: 5%;
}