.main {
    width: 800px;
    margin: 20px auto;
    font-size:  20px;
}
#container>div, #show-tag>div {
    float: left;
    font-size: 30px;
    background-color: cornflowerblue;
    padding: 15px;
    margin: 3px;
}